+reset()
/* __reset__ */
/* __base__ */
.wrapper
  +wrapper()
  +scrollbar($color_scrollbar-track, $color_scrollbar-thumb)
  +tv-block
    max-width: calc(100vw - 120px)
  +lgs-block
    max-width: calc(100vw - 340px)
  +lgsa-block
    max-width: calc(100vw - 200px)
  +laptopM-block
    max-width: calc(100vw - 140px)
  +big-tablet-block
    max-width: calc(100vw - 100px)
  +xs-block
    max-width: calc(100vw - 20px)
@font-face
  +font($font, $fontBold)

@font-face
  +font($font, $fontRegular)

@font-face
  +font($font, $fontRegular)

// @font-face
//   +font(Calibri, "Calibri-Regular")

// @font-face
//   +font(Calibri, "Calibri-Bold")

// @font-face
//   +font(SFUIDisplay, "SFUIDisplay-Medium")

@font-face
  font-family: "Calibri-Regular"
  src: url(.././fonts/Calibri/Calibri-Regular.ttf) format("truetype")
  font-style: normal
  font-weight: normal

@font-face
  font-family: "Calibri-Bold"
  src: url(.././fonts/Calibri/Calibri-Bold.ttf) format("truetype")
  font-style: normal
  font-weight: normal

@font-face
  font-family: "SFUIDisplay-Medium"
  src: url(.././fonts/SFUIDisplay/SFUIDisplay-Medium.ttf) format("truetype")
  font-style: normal
  font-weight: normal

body
  font-family: $fontRegular
  background: url(../assets/images/png/background.png)
  background-repeat: no-repeat
  // background-position: center
  &.modal-open
    overflow: hidden

a, button
  cursor: pointer
  &:focus
    outline: none

input
  cursor: text
  &:focus
    outline: none
