.page
    a
        text-decoration: none
    button

    &__title
        &-h1
            font-family: Poppins
            font-weight: 700
            font-size: vw(65)
            line-height: vw(97.5)
            +fabletMid-block
                font-size: 45px
                line-height: 60px
            +sm-block
                font-size: 35px
                line-height: 60px
    &__text
        &-18-Regular
            font-family: Poppins
            font-weight: 400
            font-size: vw(18)
            color: #252525
            +lg-block
                font-size: 18px
            &-grey
                font-family: Poppins
                font-weight: 400
                font-size: vw(18)
                color: #9D9D9D
                +lg-block
                    font-size: 18px
    &__link
        color: #252525
    &__btn
        &-1
            font-family: Poppins
            font-weight: 600
            cursor: pointer
            display: flex
            justify-content: center
            align-items: center
            text-decoration: none
            height: 52px
            padding: 11px 43px
            font-size: 20px
            color: #fff
            border: transparent
            background-color: #1E88E5
            border-radius: 30px
        &-2
            font-family: Poppins
            font-weight: 600
            cursor: pointer
            display: flex
            justify-content: center
            align-items: center
            text-decoration: none
            height: 76px
            padding: 20px 24px
            font-size: 24px
            color: #fff
            border: transparent
            background-color: #1E88E5
            border-radius: 10px
            +sm-block
                font-size: 17px
    &__img
