.page
    a
        text-decoration: none
    button

    &__title
        &-h1
            font-family: Calibri-Bold
            font-size: 60px
            color: #141419
            line-height: 72px
            +middlelg-block
                font-size: 50px
                line-height: 62px
            span
                background-image: linear-gradient(to right, #fb973b 0%, #fb973b 100%)
                background-repeat: repeat-x
                background-position: 0% 70%
                background-size: 100% 10px

    &__text
        &-18-Regular
            font-family: Calibri-Regular
            font-size: 18px
            color: #616161
            transition: .2s ease-in-out
            &:hover
                color: #fb973b
                transition: .2s ease-in-out
        &-18-Regular-black
            font-family: Calibri-Regular
            font-size: 18px
            color: #141419
            transition: .2s ease-in-out
            line-height: 25px
        &-18-Bold
            font-family: Calibri-Bold
            font-size: 18px
            color: #141419
            &:hover
                color: #fb973b
                transition: .2s ease-in-out
        &-24-Bold
            font-family: Calibri-Bold
            font-size: 24px
            color: #616161
            line-height: 36px
            span
                color: #fb973b

    &__link
        color: #252525
    &__btn
        &-1
            font-family: SFUIDisplay-Medium
            cursor: pointer
            display: flex
            justify-content: center
            align-items: center
            text-decoration: none
            height: 57px
            font-size: 18px
            color: #fff
            border: transparent
            background-color: #fb973b
            padding: 20px 52px 21px 53px
            transition: .2s ease-in-out
            &:hover
                background: #fff
                transition: .2s ease-in-out
                color: #000
                border: solid 1px #e1e1e1
    &__img
