section.about
    .wrapper
        .about-wrapper
            h1.page__title-h1 <span>Расскажем вам немного о себе</span>
            p.page__text-24-Bold Мы ценим ваше время, поэтому мы постараемся рассказать о <span>главном вкратце!</span>
            .about-wrapper-center
                .about-wrapper-center__left
                    .page__img
                        img(src="assets/images/png/Лампочка.png", alt="image-light")
                .about-wrapper-center__right
                    .page__img
                            img(src="assets/images/png/about-1.png", alt="image-light")
                    p.page__text-18-Regular-black Наша компания была основана в 2015 году, название ей «ЭлипсЛед». Занимаемся мы производством светильников для животноводства
                    .page__img
                            img(src="assets/images/png/about-2.png", alt="image-light")
                    p.page__text-18-Regular-black Работаем мы исключительно на собственном оборудовании и только с качественным сырьем.
                    .page__img
                            img(src="assets/images/png/about-3.png", alt="image-light")
                    p.page__text-18-Regular-black С помощью команды наших специалистов мы смогли добиться одного из самых высоких уровней качества светодиодных светильников для свиноводства, КРС, выращивания грибов!
                    