extends ../pug/templates/template
block title
	title Главная
block append style
block content
	main.page
		include ../components/header/header.component.pug
		include ../components/footer/footer.component.pug
block append style
block append script
	script(src="/js/header/header.component.js")