header.header
    .wrapper
        .header-wrapper
            .left
                img(src="assets/images/svg/logo.svg")
            .mid
                
            .burger
                button(type="button" onclick="openBlock()")#burgerBtn.icon
                    span
                    span
                    span
                    span
                #other.other
                    .inner
                        .wrapper
                            .nav-center
                                a(href="#").page__link.page__text-20-regular.mb20 Home
                                a(href="#").page__link.page__text-20-regular.mb20 Find work
                                a(href="#").page__link.page__text-20-regular.mb20 Find Freelancers
                                a(href="#").page__link.page__text-20-regular.mb20 Log In
                                a(href="#").page__link.page__text-20-regular.mb20 Sign Up
                                button.page__btn-1 Post a project