header.header
    .wrapper
        .header-wrapper
            .header-wrapper__left
                a(href="#")
                    img(src="assets/images/png/Логотип.png")
            .header-wrapper__mid
                nav.nav
                    a(href="#").page__text-18-Regular Главная
                    a(href="#").page__text-18-Regular Нам доверяют
                    a(href="#").page__text-18-Regular Фотографии
                    a(href="#").page__text-18-Regular Сертификаты
                    a(href="#").page__text-18-Regular Где нас найти?
            .header-wrapper__right
                a(href="tel: +79152543992").page__text-18-Bold 89152543992
            .burger
                button(type="button" onclick="openBlock()")#burgerBtn.icon
                    span
                    span
                    span
                    span
                #other.other
                    .inner
                        .wrapper
                            .nav-center
                                a(href="#").page__text-18-Regular.mb20 Главная
                                a(href="#").page__text-18-Regular.mb20 Нам доверяют
                                a(href="#").page__text-18-Regular.mb20 Фотографии
                                a(href="#").page__text-18-Regular.mb20 Сертификаты
                                a(href="#").page__text-18-Regular.mb20 Где нас найти?
                                a(href="#").page__text-18-Regular.mb20 89152543992