footer.footer
    .wrapper
        .footer-wrapper
            .left
                a(href="#")
                    .page__img
                        img(src="assets/images/svg/logo.svg")
                p.page__text-18-Regular Powerful Freelance Marketplace System with ability to change the Users (Freelancers & Clients)
                .row-soc
                    a(href="#")
                        .page__img
                            img(src="assets/images/png/inst.svg")
                    a(href="#")
                        .page__img
                            img(src="assets/images/png/twitter.svg")
                    a(href="#")
                        .page__img
                            img(src="assets/images/png/facebook.svg")
            .mid-left
                p.page__text-24-Medium For Clients
                a(href="#").page__text-18-Regular Find Freelancers
                a(href="#").page__text-18-Regular Post Project
                a(href="#").page__text-18-Regular Refund Policy
                a(href="#").page__text-18-Regular Privacy Policy
            .mid-right
                p.page__text-24-Medium For Freelancers
                a(href="#").page__text-18-Regular Find Work
                a(href="#").page__text-18-Regular Create Account
            .right
                p.page__text-24-Medium Call Us
                .row-call-us
                    a(href="#")
                        .page__img
                            img(src="assets/images/png/geo.svg")
                    a(href="#").page__text-18-Regular Kenya
                .row-call-us
                    a(href="#")
                        .page__img
                            img(src="assets/images/png/phone.svg")
                    a(href="tel: +25470000000").page__text-18-Regular +25470000000
                .row-call-us
                    a(href="#")
                        .page__img
                            img(src="assets/images/png/email.svg")
                    a(href="#").page__text-18-Regular bluelance@gmail.com
        p.page__text-18-Regular-grey 2022 Spacelance. All right reserved