.banner
    padding-top: 10px

.banner-wrapper
    display: flex
    align-items: center

.banner-wrapper__left
    max-width: 677px

    .page__title-h1
        margin-bottom: 32px
    .page__text-24-Bold
        max-width: 335px

.banner-wrapper__right
    // width: 982px
    img
