.banner
    padding-top: 10px
    +middlelg-block
        padding-top: 25px
    +lgsa-block
        padding-top: 45px

.banner-wrapper
    display: flex
    align-items: center
    justify-content: center

.banner-wrapper__left
    max-width: 677px
    min-width: 677px
    position: relative
    left: 50px
    +laptopM-block
        min-width: 570px
    +laptopMini-block
        max-width: 480px
        min-width: 420px
        left: 0
    +ipad-block
        left: 20px

    .page__title-h1
        margin-bottom: 32px
    .page__text-24-Bold
        max-width: 335px
        margin-bottom: 42px

.banner-wrapper__right
    .page__img
        width: 982px
        +midlg-block
            width: 830px
        +lgsa-block
            width: 710px
        +laptopM-block
            width: 650px
        +laptopMini-block
            width: 500px

.banner-wrapper__row
    display: flex
    align-items: center
    .form
        input
            padding-left: 32px
            background-color: #f8f8f8
            border: solid 1px #e1e1e1
            width: 161px
            height: 57px
