.banner
    padding-top: 10px

.banner-wrapper
    display: flex
    align-items: center

.banner-wrapper__left
    max-width: 677px

    .page__title-h1
        margin-bottom: 32px
    .page__text-24-Bold
        max-width: 335px
        margin-bottom: 42px

.banner-wrapper__right
    .page__img
        width: 982px

.banner-wrapper__row
    display: flex
    align-items: center
    .form
        input
            padding-left: 32px
            background-color: #f8f8f8
            border: solid 1px #e1e1e1
            width: 161px
            height: 57px
