section.banner
    .wrapper
        .banner-wrapper
            .banner-wrapper__left
                h1.page__title-h1 <span>У нас вы найдете лучшие светодиодные лампы для животоводства</span>
                p.page__text-24-Bold Оставьте нам свой номер, и получите <span>бесплатный </span>рассчет специально для вас!
                .banner-wrapper__row
                    form.form
                        input(type="text" placeholder="+7" class="phone_mask")
                    button.page__btn-1 Отправить
            .banner-wrapper__right
                .page__img
                    img(src="assets/images/png/cow.png", alt="image-cow")